:root {
    --primary-color: #081525;
    --text-color: #53abd4;    
    --background-color: #09181d;
    --background-color-main: #274c5e;
    --white-color: #fefefe;
    --highlight-color: #a6926d;
    --text-1: #f0f0f0;
    --text-2: #00ffff;
    --text-3: #66ccff;
    --text-4: #ffcc66;
    --text-5: #cccccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-height: 100vh;
    background-color: var(--background-color-main);
}

/* NAV Bar */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: var(--background-color);
    padding: 1rem 6rem;
    z-index: 100;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    width: 230px;
    height: auto;
    margin-top: 0.3rem;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav li a {
    position: relative;
    color: var(--text-4);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

nav li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--text-4);
    transition: width 0.5s ease;
}

nav li a:hover::before {
    width: 100%;
}

#search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 80px;
    background-color: var(--background-color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#search-btn i {
    font-size: 1.5rem;
    transition: scale 0.5s ease;
    z-index: 1;
}

#search-btn:hover i {
    scale: 1.6;
}

/* Menu Btn */
#menu-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 80px;
    background-color: var(--background-color-main);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2.5rem;
}

.search-input {
    position: absolute;
    top: 80px;
    /* left: 60vw; */
    right: 0;
    width: 40%;
    padding: 20px;
    /* background: var(--background-color-main); */
    z-index: 10;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.search-input input {
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
    border-radius:  50px;
    font-size: 1.3rem;
    padding-left: 12px;
}

.search-input.visible {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

/* Responsive */
@media screen and (max-width:750px){
    nav{
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        height: 0;
        background-color: var(--background-color);
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        z-index: 1;
        overflow: hidden;
        transition: height 0.8s ease-in-out;
    }

    .logo {
        left: 2rem;
        transform: translate(0,-50%);
    }

    .logo img {
        width: 180px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    nav li a {
        font-size: 1.5rem;
    }

    #menu-btn {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        transition: transform 0.4s ease-in-out;
    }

    #menu-btn span {
        width: 30px;
        height: 2px;
        background-color: var(--text-color);
    }

    #menu-btn input{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        cursor: pointer;
        appearance: none;
    }

    #menu-btn i {
        transition: transform 0.4s ease-in-out;
        z-index: 3;
        pointer-events: auto;
    }

    #menu-btn input:checked ~ i {
        transform: scale(1.5) rotate(180deg);
    }

    header:has(input:checked) > nav {
        height: calc(100vh - 80px);
    }

    #search-btn {
        display: none;
    }

    .search-input {
        /* display: none; */
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        position: relative;
        padding: 1rem;
        width: 50%;
        transition: opacity 0.4s ease, visibility 0.4s ease;
    } 

    .search-input.visible {
        opacity: 1;
        display: inline;
        visibility: visible;
    }

    .search-input input {
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        border-radius:  50px;
        font-size: 1.3rem;
    }

}

/* END OF NAV */

/* Main Section */
.main {
    height: 100vh;
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    background-image: url(assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text-4);
    overflow-y: auto;
    flex-grow: 1;
}
