.login-wrapper {
    display: flex;
    width: 100%;
    max-width: auto;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.login-wrapper h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.center-wrapper {
    margin-top: 5vh;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

#acc-form-wrapper {
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.15);
    border: 1.5px solid var(--text-4);
    border-radius: 10px;
    padding: 20px;
}

.acc-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
}

.acc-form input {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #ccc;
    margin-top: 5px;
    width: 100%;
}

.acc-form label {
    margin: 0 auto;
}

.submit-btn {
    background-color: transparent;
    color: var(--text-4);
    max-width: 400px;
    min-width: none;
    margin: 0 auto;
    font-size: large;
    text-transform: uppercase;
}

#acc-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    font-size: smaller;
}

*::before,
*::after {
    content: none !important;
}

@media screen and (max-width:500px){
    #acc-info {
        flex-direction: column;
    }

    #acc-info p {
        margin-top: 10px;
    }
}